

<section id="contact"> 
	<div class="container"> 
        <div id="contact-bg">
            <div class="row">
                <div class="col-sm-5 col-xs-12">
                 	<div id="contact-img">
                 		<p> <img src="/assets/Contact Header.png" class="img-responsive" /></p>
                    </div><!--CONTACT IMAGE -->
                     <div class="hidden-xs" id="contact-text">
                         <p> <h4> Thanks for stopping by and taking the time to check out my site! You can contact my be emailing me directly with the 
                         email provided in my resumé or using the form to the right. If you're on mobile you should have the "Call" button at the 
                         end of the form. Looking forward to hearing from you!</h4> </p>
                     </div><!--CONTACT-TEXT --> 
                </div> <!--COLUM -->
                <div class="col-sm-7">
                    <%= form_for @message, url: contact_path do |message_form| %>
                        <h3>Name</h3>
                        <%= message_form.text_field :name, class: "form-control" %>
                        <h3>E-mail</h3>
                        <%= message_form.text_field :email, class: "form-control" %>
                        <h3>Subject </h3>
                        <%= message_form.text_field :subject, class: "form-control" %>
                        <h3>Message</h3>
                        <%= message_form.text_area :body, class: "form-control", size:"24x6" %>
                        <div class="col-xs-6">
                          <%= message_form.submit 'Thanks!', class: 'btn btn-danger btn-lg pull-right' %>
                        </div>

                    <% end %>
                    
                    <div class="col-xs-6">
                    <a href="tel:305-798-0688" class="btn btn-success btn-lg hidden-sm hidden-md hidden-lg">
                        <h4>Call  <span class="glyphicon glyphicon-phone-alt"></span> </h4>
                    </a>
                    </div>
                </div><!--COLIM 7 -->
      		</div> <!--ROW -->
        </div><!--CONTACT-BG -->
    </div><!--CONTAINER	 -->
</section>


<!-- javascript -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
 
<body>
</body>
</html>
